.gap {
    height: 50px;
    width: 100%;
}

.outtersection form {
    margin: 25px;
    width: 80%;
}

.outtersection {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
}

.form-group p {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

/**
 *  D3 graph section css from here
 **/
.svg-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    top: 10px;
    left: 0;
}
.link {
    fill: none;
    stroke: #3c753b;
    stroke-width: 1.5px;
}

#chart {
    margin: 0 auto;
    width: 65%;
}


svg {
    border: 1px solid #000;
    margin: 28px;
}